@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  font-family: "Noto Sans Display", sans-serif;
  margin: 0;
}

::-moz-selection {
  background: rgb(0, 119, 255);
}

::selection {
  background: rgb(0, 119, 255);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --base:hsl(0, 0%, 4%);
  --CardBase:hsl(0, 0%, 2%);
  --headers:hsl(0, 0%, 0%);
  --text:white;
  --link:rgb(177, 200, 248);
  --accent:#00FF6F ;
  --radius:.4rem;
  --Shadowoffset:.2rem;
  --code:rgb(158, 158, 158);
}

body {
  background: var(--base);
}

#bg {
  --opacityGraph:.04;
  background-size: 2rem 2rem;
  background-image: linear-gradient(to right, rgba(128, 128, 128, var(--opacityGraph)) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, var(--opacityGraph)) 1px, transparent 1px);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  width: 100%;
  box-shadow: 0 var(--Shadowoffset) 2rem rgba(0, 0, 0, 0.54);
  color: var(--text);
  height: 3.4rem;
  background: var(--headers);
  display: flex;
  align-items: center;
}
nav h1 {
  font-weight: 900;
  text-indent: 1ch;
  color: var(--accent);
}

.card {
  border-radius: var(--radius);
  height: 13rem;
  width: 23rem;
  background: var(--CardBase);
  overflow: hidden;
  box-shadow: var(--Shadowoffset) var(--Shadowoffset) 0;
  transition: 0.5s;
}
.card .cardTop {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.2rem;
  font-weight: 200;
  color: var(--text);
  background: var(--headers);
  width: inherit;
  transition: 0.2s;
}

main {
  padding-top: 3rem;
  display: flex;
}

a {
  color: var(--link);
  text-decoration: none;
  padding-right: 1ch;
}
a:hover {
  color: var(--accent);
}

#monitors {
  padding: 1rem;
  padding-right: 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  width: 56vw;
}

#TerminalMonitor {
  padding-top: 1rem;
}

#Terminal {
  height: 40rem;
  width: 40vw;
  overflow: scroll;
}
#Terminal .cardTop {
  position: absolute;
  width: 39.5vw;
  border-radius: var(--radius) var(--radius) 0 0;
}
#Terminal pre {
  font-family: "Share Tech Mono", monospace;
  width: 30rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: var(--code);
}
#Terminal pre::-moz-selection, #Terminal pre span::-moz-selection {
  background: rgb(255, 255, 255);
  color: black;
}
#Terminal pre::selection, #Terminal pre span::selection {
  background: rgb(255, 255, 255);
  color: black;
}
#Terminal .highlight {
  color: red;
}