<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome {{ Username }}</h1>
    <div id="data1">
        
    </div>
</body>
</html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;900&display=swap');
    *{
        margin: 0%;
        font-family: 'Poppins', sans-serif;

    }
    #data1{
        width: 10rem;
        height:10rem;
      
        border: 1px solid black;
        border-radius: 10rem;
    }
</style>