<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
    <link rel="stylesheet" href="/static/style/style.css">
    
  </head>
  <body draggable="false">

    <div id="bg"></div>
    
    <nav>
      <h1>Neural Kissan</h1>
      <span class="material-symbols-outlined"  onclick="ColorMode()" id="ColorMode">
        dark_mode
        </span>
      <h4><a href="../../NeuralKisssanDocumentation/my-app/src/app.html">Docs  </a></h4>
      <span class="material-symbols-outlined" onclick="menu()">
        menu
      </span>
    </nav>
    <main>
<section id="monitors">
  <div class="card">
    <h3 class="cardTop">Temperature</h3>
    <div>
      <canvas id="TemperatureChart"></canvas>
    </div>
  </div>

  <div class="card">
    <h3 class="cardTop">Moisture</h3>
    <div>
      <canvas id="MoistureChart"></canvas>
    </div>
  </div>

  <div class="card">
    <h3 class="cardTop">pH</h3>
    <div>
      <canvas id="pHChart"></canvas>
    </div>
  </div>

  <div class="card">
    <h3 class="cardTop">Humidity</h3>
    <div>
      <canvas id="HumidityChart"></canvas>
    </div>
  </div>

  <div class="card">
    <h3 class="cardTop">AQI</h3>
    <div>
      <canvas id="AQIChart"></canvas>
    </div>
  </div>


  <div class="card">
    <h3 class="cardTop">Prediction : <span id="PredictionValue"></span></h3>
    <div>
      <canvas id="Prediction"></canvas>
      <img src='{{url_for('static', filename='img_3.jpg')}}'id="Image" style="position: absolute;z-index: 100000;"></img>
    </div>
  </div>

</section>
<!-- <section id="TerminalMonitor">
  <div id="Terminal" class="card">
    <h3 class="cardTop">Terminal</h3>
    <div>
      
      
    <pre id="TerminalTextBox"><span id="TerminalLine"></span></pre>
    </div>
  </div>
</section> -->

   

    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/js/ColorMode.js"></script>
  <script src="../static/js/Menu.js"></script>
<script src="../static/js/chartInit.js"></script>
<!-- <script src="../static/js/Terminal.js"></script> -->
  <script>

  let size=20;//size of array 
   
    setInterval(a,100)
    function a(){
      Update(TemperatureChart,'temperature')
      Update(MoistureChart,'moisture')
      Update(pHChart,'ph')
      Update(HumidityChart,'humidity')
      Update(AQIChart,'aqi')
      Update(Prediction,'Prediction')
    }



    function Update(chart,type){
      
      if(type=='Prediction'){

        let imgsrc='img_3.jpg'

      fetch('/Classified/'+imgsrc)
      .then((response) => response.json())
      .then((data) => {
      document.getElementById('PredictionValue').textContent=data['prediction'] +'|' + data['strength']
        strength=(data['strength'])
        chart.data.datasets.forEach((dataset) => {
        dataset.data.push(strength);
        if(dataset.data.length>size){
          dataset.data.shift();
        }
     });
     chart.update()
    });



      }else{

        fetch('/api')
      .then((response) => response.json())
      .then((data) => {
        value=(data[type]['value'])
        chart.data.datasets.forEach((dataset) => {
        dataset.data.push(value);
        if(dataset.data.length>size){
          dataset.data.shift();
        }
     });
     chart.update()
    });
      
      }


     


      
      
    }
    

    


 
  </script>
</html>
